* {
  margin: 0;
  padding: 0;
  font-family: 'TT Commons Pro', sans-serif;
  color: #332e2e;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('./demo fonts/Fontspring-DEMO-tt_commons_pro_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

#container {
  width: 100%;
  height: 100vh;
}

header {
  height: 95px;
  padding-top: 25px;
  padding-left: 126px;
  padding-right: 126px;
  padding-bottom: 20px;
  background-color: #FFF7F3;
  display: flex;
  justify-content: center;
}

#navinfo {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 660px
}

#navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.link {
  font-size: 20px;
  color: #332e2e;
  font-family: 'TT Commons Pro', sans-serif;
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: #332e2e;
}

#name-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.name {
  font-size: 26px;
  color: #332e2e;
  font-family: 'TT Commons Pro', sans-serif;
}

#vrline {
  width: 2.1px;
  height: 75px;
  background-color: #332e2e;
}

#portf {
  font-size: 18px;
  display: flex;
  align-items: center;
  font-family: 'TT Commons Pro', sans-serif;
}

#home {
  background-color: #FFF7F3;
}

#intro {
  display: flex;
  flex-direction: row;
}

#myintro {
  position: relative;
  margin-top: 200px;
  padding-left: 80px;
}

#myintro2 {
  position: relative;
  margin-top: 185px;
}

.inline1 {
  font-size: 64px;
  color: #332e2e;
  font-family: 'TT Commons Pro', sans-serif;
}

.inline2 {
  width: 390px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #332e2e;
  font-family: 'TT Commons Pro', sans-serif;
  font-weight: 545;
  margin-top: 20px;
  margin-left: 240px;
  padding-left: 30px;
}

#dots {
  margin-left: 180px;
}

#pho {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#oval {
  position: absolute;
  /* position: fixed; */
  top: 32%;
  margin-left: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 250px;
  height: 340px;
  background-color: #332e2e;
  border-radius: 50%;
  transform: rotate(160deg);
  z-index: 1;
}

#profile-pic {
  position: absolute;
  /* position: fixed; */
  top: 34%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin-left: 90px;
  width: 270px;
  height: 330px;
  background-color: black;
  border-radius: 50%;
  transform: rotate(6deg);
  z-index: 999999999999;
}

#services {
  height: 500vh;
  background-color: #DAFFB8; 
}

#ms {
  padding-top: 180px;
  font-size: 36px;
  color: #332e2e;
  padding-left: 50px;
}

#box-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.box {
  width: 420px;
  height: 300px;
  border-radius: 10%;
  background-color: #FFF7F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.box-icon {
  width: 120px;
  height: 120px;
}

.parafs {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.bar {
  width: 60px;
  height: 8px;
  background-color: #DAFFB8;
  border-radius: 8px;
  border: 2px solid #332e2e;
  margin-top: 15px;}