* {
  margin: 0;
  padding: 0;
  font-family: 'TT Commons Pro', sans-serif;
  color: #332e2e;
}

@font-face {
  font-family: 'TT Commons Pro';
  src: url('./demo fonts/Fontspring-DEMO-tt_commons_pro_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

#container {
  width: 100%;
  height: 100vh;
}

header {
  height: 95px;
  padding-top: 25px;
  padding-left: 126px;
  padding-right: 126px;
  padding-bottom: 20px;
  background-color: #FFF7F3;
  display: flex;
  justify-content: center;
}

#navinfo {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 660px
}

#navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.link {
  font-size: 20px;
  color: #332e2e;
  font-family: 'TT Commons Pro', sans-serif;
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: #332e2e;
}

#name-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.name {
  font-size: 26px;
  color: #332e2e;
  font-family: 'TT Commons Pro', sans-serif;
}

#vrline {
  width: 2.1px;
  height: 75px;
  background-color: #332e2e;
}

#portf {
  font-size: 18px;
  display: flex;
  align-items: center;
  font-family: 'TT Commons Pro', sans-serif;
}

#home {
  background-color: #FFF7F3;
}

#intro {
  display: flex;
  flex-direction: row;
}

#myintro {
  position: relative;
  margin-top: 200px;
  padding-left: 80px;
}

#myintro2 {
  position: relative;
  margin-top: 185px;
}

.inline1 {
  font-size: 64px;
  color: #332e2e;
  font-family: 'TT Commons Pro', sans-serif;
}

.inline2 {
  width: 390px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #332e2e;
  font-family: 'TT Commons Pro', sans-serif;
  font-weight: 545;
  margin-top: 20px;
  margin-left: 240px;
  padding-left: 30px;
}

#dots {
  margin-left: 180px;
}

#pho {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#oval {
  position: absolute;
  /* position: fixed; */
  top: 32%;
  margin-left: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 250px;
  height: 340px;
  background-color: #332e2e;
  border-radius: 50%;
  transform: rotate(160deg);
  z-index: 1;
}

#profile-pic {
  position: absolute;
  /* position: fixed; */
  top: 34%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin-left: 90px;
  width: 270px;
  height: 330px;
  background-color: black;
  border-radius: 50%;
  transform: rotate(6deg);
  z-index: 999999999999;
}

#services {
  height: 154vh;
  background-color: #FFF7F3;
}

#boxpc {
  height: 1020px;
  background-color: #DAFFB8;
}

#ms {
  padding-top: 180px;
  font-size: 36px;
  color: #332e2e;
  padding-left: 50px;
}

.box-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.box {
  width: 420px;
  height: 300px;
  border-radius: 10%;
  background-color: #FFF7F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.box-icon {
  width: 120px;
  height: 120px;
}

.parafs {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.bar {
  width: 60px;
  height: 8px;
  background-color: #DAFFB8;
  border-radius: 8px;
  border: 2px solid #332e2e;
  margin-top: 15px;
}

#projects {
  height: 1075px;
  background-color: #FFF7F3;
}

#mp {
  padding-top: 80px;
  margin-right: 80px;
  font-size: 36px;
  color: #332e2e;
  padding-left: 50px;
}

.mpinfo {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  gap: 100px;
}

.mpimg {
  height: 420px;
  margin-right: 0px;
  width: auto;
  border-radius: 0% 20% 0% 0%;
}

.mi {
  border-radius: 0% 0% 20% 0%;
}

.mpinfo-text {
  margin-top: 140px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact {
  height: 850px;
  /* margin-top: 140px; */
  background-color: #DAFFB8;
}

#contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

#contact-info {
  margin-left: 40px;
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

#contactint {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

#mc {
  padding-top: 20px;
  padding-left: 600px;
  font-size: 36px;
  color: #332e2e;
}

#contact-p {
  font-size: 20px;
}

#mc2 {
  font-size: 56px;
  color: #332e2e;
} 

#contact-details {
  margin-left: 80px;
  height: 379px;
  width: 399px;
  border-radius: 8%;
  border: #332e2e 4px solid;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.contact-item{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.contact-icon {
  width: 80px;
  height: 80px;
} 

#em {
  width: 85px;
}

.cf {
  font-size: 17px;
  font-weight: 549;
}

#form {
  margin-top: 140px;
  height: 510px;
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 8%;
  border: #332e2e 4px solid;
  border-right-width: 8px;
  background-color: #ffffff;
}

.inputs {
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#is {
   margin-top: 30px;
}

.inpfield {
  width: 250px;
  height: 40px;
  border: 2.5px solid #332e2e;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
}

.ne {
  margin-bottom: 10px;
  font-size: 20px;
}

#des-box {
  padding-top: 10px;
  margin-left: 35px;
  width: 580px;
  height: 170px;
  border: 2.5px solid #332e2e;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
  resize: none;
}

#btn {
  width: 150px;
  height: 50px;
  margin-left: 35px;
  margin-top: 0px;
  background-color: #332e2e;
  color: #FFFFFF;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  height: 80px;
  background-color: #FFF7F3;
  display: flex;
  justify-content: center;
  align-items: center;  
}

 #bl {
  color: blue;
 }
